.form-border{
    border: 1px;
    border-style:dotted;
    border-color: rgb(231, 216, 132);
    border-radius: 120px;
    border-width: 0.2em;
    margin: 5em;
    padding: 2em;
    background-color: beige;
    width: 22%;
    margin:auto;
    
    
}
.font{
    font:bold;
    font-family:fantasy;
    font-size: medium;
    font: black;
}

.button{
 border: 1rem;
 margin: auto;
 width: 2em;
 border-radius: 50%; 
 

}