
.fonts{
    font:bold;
    font-family:fantasy;
    font-size: medium;
    font: black;
    margin: auto;
    
}
.form-border1{
    border: 1px;
    border-style:groove;
    border-color: rgb(3, 255, 70);
    border-radius: 20px;
    border-width: 0.5em;
    margin: 2em;
    padding: 2em;
    background-color: rgb(245, 217, 176);
    width: auto;
    margin:right;
}
